.footer-container{
    display: flex;
    flex-direction: row;
    color: white;
    background-color: #2F332F;

}
.social-icon i{
    text-decoration: none;
    color: white;
}
.quick-links{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    line-height: 3rem;
}
.navItems{
    text-decoration: none;
    color: white;
}

